@import url("https://fonts.googleapis.com/css?family=Baloo+Da|Roboto");
@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root{
    height: 100%;
}
$bg-color: aliceblue;
$color:rgba(31, 34, 26, 0.785);
$mn: #589F7D;
$tck: #1D7447;
$top-color: #1D7447;
$btn-color: #BBF7E8;
$lg-color: #BFE3D7;
$wlcm-color:#1B5B40;
$linear-grd:#238260;
$linear-grd1: #298A6B;
$white:#fff;

//---fonts---
$young-serif: 'Young Serif', serif;
$outfit: 'Outfit', sans-serif;
$roboto: 'Roboto', sans-serif;
